services:
  app:
    image: node:lts-alpine
    user: node
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
    ports:
      - '3000:3000'
    environment:
      PORT: '3000'
    command: ['npm', 'start']
